## Exported functions:
export(
       lsplsCv,
       lspls,
       orthlsplsCv,
       orthlspls.fit
       )

## Imports:
importFrom("grDevices", "n2mfrow")
importFrom("graphics", "axis", "lines", "mtext", "par", "plot", "text")
importFrom("methods", "Quote")
importFrom("pls", "cvsegments", "loadingplot", "MSEP", "oscorespls.fit", "R2",
           "RMSEP", "scoreplot")
importFrom("stats", ".checkMFClasses", "delete.response", "lm.fit",
           "model.frame", "model.response", "na.pass", "predict", "sd",
           "terms", "var")

## S3 methods:
S3method(MSEP, lsplsCv)
S3method(R2, lsplsCv)
S3method(RMSEP, lsplsCv)
S3method(plot, lspls)
S3method(plot, lsplsCv)
S3method(scoreplot, lspls)
S3method(loadingplot, lspls)
S3method(predict, lspls)

## Documented but not exported:
## orth
## project
## Corth
